html,
body,
#sobre {
    height: 100%;
    overflow-x: hidden;
    gap: 0px;
}

body {
    background:
        linear-gradient(50deg, #1c1c1c, #2e2e2e);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/*navegação
----------------------------------------------------*/


nav.navbar-transparente {
    padding: 15px 0;
    background: rgba(28, 28, 28, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(169, 254, 78);
    border-bottom: 2px solid rgb(169, 254, 78);
}

.navabar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, .8);
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}



/*Conteudo
----------------------------------------------------*/

/*Sobre
----------------------------------------------------*/
#sobre img {
    margin-left: 100px;
}

/*Reels
----------------------------------------------------*/
#reels {
    height: 100%;
}

.video-reels {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-left: 100px;
}



/*Clientes
----------------------------------------------------*/
#clientes {
    height: 100%;

}

.logo-clientes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 10px;
}


/*Contatos
----------------------------------------------------*/
#contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contato-texto {
    margin-bottom: 5px;
    margin-left: 100px;
}

.contato-texto2 {
    margin-bottom: 100px;
    margin-left: 100px;
}

.move-contato {
    margin-top: 50px;
}

.caixa {
    padding-top: 150px;
    padding-bottom: 100px;
}


h2 {
    color: rgb(94, 94, 94);
    text-transform: uppercase;
}

p {
    font-size: 1.5em;
    color: #fff;
}

hr {
    border: 2px solid rgb(169, 254, 78);
}

#contatos hr {
    margin-right: 750px;
    margin-left: 120px;
}


/*Tipografia
----------------------------------------------------*/
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: #fff;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}


/* Inicio do Modal */

.modal {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #2e2e2e;
    color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.conteudo-modal {
    display: block;
}

.input {
    width: 100%;
    padding: 10px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(89, 151, 47);
    border-color: rgb(89, 151, 47);
}

.btn-primary:hover {
    color: rgb(35, 35, 35);
    background-color: rgb(169, 254, 78);
    border-color: rgb(169, 254, 78);
}

span {
    color: #fff;
}

label {
    margin-top: 15px;
    margin-bottom: 0;
}

/* Fim do Modal */




/*Media queries
----------------------------------------------------*/


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .caixa {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #sobre {
        margin-top: 60px;
    }

    #sobre h2 {
        font-size: 2.5em;
    }

    #sobre p {
        font-size: 1em;
    }

    #sobre img {
        width: 90%;
        margin: 15px auto;

    }

    #reels {
        transform: translateY(0px);
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #reels h2 {
        text-align: center;
        font-size: 2.5em;
    }

    #reels p {
        text-align: center;
        font-size: 1em;
        margin-top: 50px;
    }

    #reels video {
        width: 90%;
        border-radius: 5px;
        margin-left: 0;
        margin-top: 80px;
    }

    #clientes {
        display: flex;
        justify-items: center;
        flex-wrap: wrap;

        transform: translateY(0px);
    }

    #clientes h2 {
        text-align: center;
        font-size: 2.5em;
    }

    #clientes p {
        text-align: center;
        font-size: 1em;
    }

    #clientes img {
        width: 50%;
        height: auto;
        margin: 2px auto;

    }


    #contatos h2 {
        font-size: 2.5em;
    }

    #contatos p {
        font-size: 1em;
    }

    #contatos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transform: translateY(1050px);
        width: 100%;
        height: 100vh;
    }

    #contatos hr {
        margin-right: 0px;
        margin-left: 0px;
    }

    #contatos .card2 {
        margin: 15px auto;
    }

    .contato-texto {
        text-align: center;
        margin: 5px auto;
    }

    .contato-texto2 {
        text-align: center;
        margin-bottom: 100px;
        margin-left: 25px;
    }

    .move-contato {
        margin-top: 50px;
        margin-right: 200px;
    }

    .modal {
        position: fixed;
        top: 100px;
        right: 0;
        bottom: 0;
        left: 50px;
        z-index: 1050;
        display: none;
        overflow: hidden;
        outline: 0;
    }


    .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        pointer-events: auto;
        background-color: #2e2e2e;
        color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
    }



}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    #sobre {
        height: 100vh;
    }

    #sobre h2 {
        font-size: 2.5em;
    }

    #sobre p {
        font-size: 1em;
    }

    #sobre img {
        width: 90%;
        margin: 15px auto;

    }

    #reels {
        transform: translateY(-200px);
    }

    #reels h2 {
        font-size: 2.5em;
    }

    #reels p {
        font-size: 1em;
        margin-top: 50px;
    }

    #reels video {
        width: 90%;
        border-radius: 5px;
        margin-left: 0;
        margin-top: 80px;
    }

    #clientes {
        transform: translateY(450px);
    }

    #clientes h2 {
        font-size: 2.5em;
    }

    #clientes p {
        font-size: 1em;
    }

    #clientes img {
        width: 50%;
        margin: 5px auto;

    }


    #contatos h2 {
        font-size: 2.5em;
    }

    #contatos p {
        font-size: 1em;
    }

    #contatos {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(1400px);
        width: 100%;
        height: 100vh;
    }

    #contatos hr {
        margin-right: 0px;
        margin-left: 0px;
    }

    #contatos .card2 {
        margin: 15px auto;
    }

    .contato-texto {
        margin-bottom: 5px;
        margin-left: 130px;
    }

    .contato-texto2 {
        margin-bottom: 100px;
        margin-left: 75px;
    }

    .move-contato {
        margin-top: 50px;
        margin-right: 200px;
    }


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .caixa {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #sobre h2 {
        font-size: 2.5em;
    }

    #sobre p {
        font-size: 1.2em;
    }

    #sobre img {
        width: 90%;
        margin: 15px auto;

    }

    #reels {
        transform: translateY(0px);
    }

    #reels h2 {
        font-size: 2.5em;
    }

    #reels p {
        font-size: 1.2em;
        margin-top: 10px;
    }

    #reels video {
        width: 90%;
        border-radius: 20px;
        margin-left: 0;
    }

    #clientes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transform: translateY(0px);
    }

    #clientes h2 {
        font-size: 2.5em;
    }

    #clientes p {
        font-size: 1.2em;
    }


    #contatos h2 {
        font-size: 2.5em;
    }

    #contatos .card2 h3 {
        font-size: 1.1em;
    }

    #contatos p {
        font-size: 1.2em;
    }

    #contatos .card2 p {
        font-size: 0.8em;
    }

    #contatos {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(0px);
        width: 100%;
        height: 100vh;
    }

    #contatos hr {
        margin-right: 0px;
        margin-left: 0px;
    }

    #contatos .card2 {
        width: 170px;
        margin: 15px auto;
    }

    .contato-texto {
        margin-bottom: 5px;
        margin-left: 220px;
    }

    .contato-texto2 {
        margin-bottom: 100px;
        margin-left: 170px;
    }

    .move-contato {
        margin-top: 50px;
        margin-right: 200px;
    }


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}